<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout4.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/themes.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>Genre Search Results</header>
    <main>
      <ul>
        <% genreResults.forEach(movie => { %>
          <li>
            <div class="background">
              <img src="<%= movie.image_url %>" >
              <h2><%= movie.title %></h2>
              <p><%= movie.description %></p>
              <form action="/" method="post">
                <fieldset>
                  <input type="hidden" name="movie_id" value="<%= movie.movie_id%>">
                  <input type="hidden" name="image_url" value="<%= movie.image_url %>">
                  <input type="hidden" name="title" value="<%= movie.title %>">
                  <input type="hidden" name="description" value="<%= movie.description %>">
                  <input type="hidden" name="seasonal_keyword" value="<%= movie.seasonal_keyword %>">
                    <button class="detail_button" type="submit">Add to Recommendations</button>
                </fieldset>
              </form>
            </div>
          </li>
            <% }) %>
      </ul>
      <h1>Testing</h1>
      <button type="button" id="randomMovie" onclick="window.location.href='/random';">Random Movie</button>
      <button type="button" id="keywordSearch" onclick="window.location.href='/new';">Search by Genre</button>
      <button type="button" id="recommendations"onclick="window.location.href='/recommendations';">Recommendations</button>
      <button type="button" id="aboutUs" onclick="window.location.href='/about';">About Us</button>
    </main>
    <footer>
      <%- include('../partials/footer') -%>
    </footer>
  </body>
</html>