<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout2.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/themes.css">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>Your Random Movie</header>
    <main>
      <ul>
        <a href="https://www.themoviedb.org/movie/<%= randomMovieSelection.movie_id %>?language=en-US"><img src="<%= randomMovieSelection.image_url %>" title="Click Image for more information"></a>
        <h2><%= randomMovieSelection.title %></h2>
        <p><%= randomMovieSelection.description %></p>
        <form action="/" method="post">
          <fieldset>
            <input type="hidden" name="movie_id" value="<%= randomMovieSelection.movie_id%>">
            <input type="hidden" name="image_url" value="<%= randomMovieSelection.image_url %>">
            <input type="hidden" name="title" value="<%= randomMovieSelection.title %>">
            <input type="hidden" name="description" value="<%= randomMovieSelection.description %>">
            <input type="hidden" name="seasonal_keyword" value="<%= randomMovieSelection.seasonal_keyword %>">
            <div>
              <button class="detail_button" type="submit">Add to Recommendations</button>
            </div>
          </fieldset>
        </form>
        <button type="button" id="similar"><a href="/similar/<%= randomMovieSelection.movie_id %>">See Similar Titles</a></button>
      </ul>
      <%- include('../partials/nav') -%>
    </main>
    <footer>
      <%- include('../partials/footer') -%>
    </footer>
  </body>
</html>